
.top_navi ul {
    list-style-type: none;
}
.top_navi ul li ul {
    visibility: hidden;
    position: absolute;
    margin-top: -0.1em;
    height: 0;
    overflow: hidden;
    top: 16px;
    left: -10px;
    z-index: 80;
}
.top_navi ul li a,
.top_navi ul li a:visited {
    display: block;
    text-decoration: none;
    background: transparent;
}
.top_navi ul li:hover {
    position: relative;
}
.top_navi ul li:hover ul,
.top_navi ul li a:hover ul {
    visibility: visible;
    position: absolute;
    width: 220px;
    height: auto;
    border: #aaaaaa 1px solid;
    background: #f5f5dc;
    overflow:visible;
}
.top_navi ul li:hover ul li a,
.top_navi ul li a:hover ul li a {
    display: block;
    color: #003399;
    font-weight: normal;
    background: transparent;
    background-color: #ffffff;
    height: 17px;
    padding-top: 3px;
    padding-left: 15px;
    text-decoration: none;
    text-align: left;
    border-bottom: #aaaaaa 1px dashed;
}
.top_navi ul li:hover ul li:hover a,
.top_navi ul li a:hover ul li a:hover {
    background: #ffd0cb;
}
.top_navi2 ul {
    list-style-type: none;
}
.top_navi2 ul li ul {
    visibility: hidden;
    position: absolute;
    margin-top: -0.1em;
    height: 0;
    overflow: hidden;
    top: 16px;
    left: 0px;
    z-index: 80;
}
.top_navi2 ul li a,
.top_navi2 ul li a:visited {
    display: block;
    text-decoration: none;
    background: transparent;
}
.top_navi2 ul li:hover {
    position: relative;
}
.top_navi2 ul li:hover ul,
.top_navi2 ul li a:hover ul {
    visibility: visible;
    position: absolute;
    width: 220px;
    height: auto;
    border: #aaaaaa 1px solid;
    overflow:visible;
}
.top_navi2 ul li:hover ul li a,
.top_navi2 ul li a:hover ul li a {
    display: block;
    color: #003399;
    font-weight: bold;
    background: transparent;
    background-color: #ffffff;
    height: 17px;
    padding-top: 3px;
    padding-left: 15px;
    text-decoration: none;
    text-align: left;
    border-bottom: #aaaaaa 1px dashed;
}
.top_navi2 ul li:hover ul li:hover a,
.top_navi2 ul li a:hover ul li a:hover {
    background: #ffd0cb;
}
.navi {
    font-family: Arial, sans-serif;
    width: 160px;
    position: relative;
    font-size: 11px;
    z-index: 100;
}
.navi ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 160px;
}
.navi ul li {
    float: left;
    border-bottom: #696969 1px dashed;
}
.navi ul li a,
.navi ul li a:visited {
    display: block;
    float: left;
    text-decoration: none;
    color: #000000;
    width: 150px;
    height: 19px;
    line-height: 19px;
    font-size: 12px;
    background: transparent;
    padding-left: 10px;
}
.navi ul li:hover a,
.navi ul li a:hover {
    background: #4682b4;
    color: #ffffff;
}
.navi ul li:hover {
    position: relative;
    z-index:90;
}
.navi ul li ul {
    visibility: hidden;
    position: absolute;
    margin-top: -0.1em;
    height: 0;
    overflow: hidden;
    top: 0;
    left: 157px;
}
.navi ul li:hover ul,
.navi ul li a:hover ul {
    visibility: visible;
    position: absolute;
    width: 250px;
    height: auto;
    border: #696969 1px solid;
    background: #ffffff;
    overflow:visible;
}
.navi ul li:hover ul li a,
.navi ul li a:hover ul li a {
    display: block;
    background: transparent;
    color: #000000;
    line-height: 19px;
    width: 240px;
    height: auto;
    text-decoration: none;
}
.navi ul li:hover ul li:hover a,
.navi ul li a:hover ul li a:hover {
    background: #4682b4;
    color: #ffffff;
}
.navi ul li:hover ul li ul,
.navi ul li a:hover ul li a ul {
    visibility: hidden;
    position: absolute;
    height: 0;
    overflow: hidden;
    top: 0;
    left: 247px;
}
.navi ul li:hover ul li:hover ul,
.navi ul li a:hover ul li a:hover ul {
    visibility: visible;
    position: absolute;
    height: auto;
    color: #000000;
    padding: 0;
    border: #696969 1px solid;
    list-style-type: none;
    background: #ffffff;
}
.navi ul li:hover ul li:hover ul li a,
.navi ul li a:hover ul li a:hover ul li a {
    display: block;
    background: transparent;
    color: #000000;
}
.navi ul li:hover ul li:hover ul li:hover a,
.navi ul li a:hover ul li a:hover ul li a:hover {
    background: #4682b4;
    color: #ffffff;
}
.tree {
    background: url(../image/arrow.gif) no-repeat 150px 50%;
}
.tree2 {
    background: url(../image/arrow.gif) no-repeat 240px 50%;
}
#other {
    background: url(../image/arrow.gif) no-repeat 150px 50%;
    border-bottom: #696969 1px solid;
}
#other2 {
    background: #dcdcdc url(../image/arrow.gif) no-repeat 150px 50%;
    border-bottom: #696969 1px solid;
}
#other3 {
    background: url(../image/arrow.gif) no-repeat 150px 50%;
    border-bottom: #696969 1px solid;
}
.navi2 {
    font-family: Arial, sans-serif;
    width: 300px;
    position: relative;
    font-size: 11px;
    z-index: 100;
}
.navi2 ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 300px;
}
.navi2 ul li {
    float: left;
    border-bottom: #696969 1px dashed;
}
.navi2 ul li a,
.navi2 ul li a:visited {
    display: block;
    float: left;
    text-decoration: none;
    color: #000000;
    width: 300px;
    height: 19px;
    line-height: 19px;
    font-size: 12px;
    background: transparent;
    padding-left: 10px;
}
.navi2 ul li:hover a,
.navi2 ul li a:hover {
    background: #4682b4;
    color: #ffffff;
}
.navi2 ul li ul {
    visibility: hidden;
    position: absolute;
    margin-top: -0.1em;
    height: 0;
    overflow: hidden;
    top: 0;
    left: 167px;
}
.navi2 ul li:hover ul,
.navi2 ul li a:hover ul {
    visibility: visible;
    position: absolute;
    width: 250px;
    height: auto;
    background: transparent;
    overflow:visible;
}
#list_menu ul {
    list-style: none;
    width: 510px;
}
#list_menu li {
    display: inline;
    float: left;
    border-left: #696969 1px dashed;
    background: #ffffff;
}
#list_menu a {
    display: block;
    background: #ffffff;
    text-decoration: none;
    color: #000000;
    width: 240px;
    padding-left: 10px;
}
#list_menu a:hover {
    background-color: #4682b4;
    color: #ffffff;
}
